@model LoginViewModel
<button type="button" id="login-modal" class="btn btn-primary hidden" data-toggle="modal" data-target="#loginModal"></button>

<div class="modal fade custom-login-modal" id="loginModal" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="custom-modal-header">LOGIN</h3>
                <button id="modal-close-button" type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            @using (Html.BeginForm(nameof(AccountController.Login), "Account", FormMethod.Post, new { id = "login-form", @class = "custom-form" }))
            {
                @Html.AntiForgeryToken();
                <div class="modal-body">
                    <div class="form-group">
                        @Html.LabelFor(x => x.Username)
                        @Html.TextBoxFor(x => x.Username, new { @class = "form-control", placeholder = "Username" })
                        @Html.ValidationMessageFor(m => m.Username, "", new { @class = "validation-error" })
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(x => x.Password)
                        @Html.PasswordFor(x => x.Password, new { @class = "form-control", placeholder = "Password" })
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "validation-error" })
                    </div>
                    @Html.ValidationSummary(true, "", new { @class = "validation-error" })
                </div>
                <div class="modal-footer justify-content-start">
                    <input type="submit" class="btn btn-success btn-submit-form" value="LOGIN">
                </div>
            }
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="/Scripts/login.js"></script>

}