<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta property="og:description" content="News Letter" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>NewsLetter</title>
    @Scripts.Render("~/bundles/modernizr")

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ"
          crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
            crossorigin="anonymous"></script>
    <script src="https://npmcdn.com/tether@1.2.4/dist/js/tether.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn"
            crossorigin="anonymous"></script>
    @Styles.Render("~/Content/css")
</head>
<body>
    <header>
        <div class="logo-holder">
            <a href="/home?pageNumber=1&pageSize=5"><img src="../../Images/Static/logo.png" /></a>
        </div>
        <nav class="navbar navbar-toggleable-lg navbar-light bg-faded">
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link nav-link-active" href="/home?pageNumber=1&pageSize=5">HOME</a>
                    </li>
                    <li class="nav-item">
                        @Html.ActionLink("ENTERTAINMENT", nameof(CategoryController.Index), "Category", new { category = "entertainment", pageNumber = 1, pageSize = 5 }, new { @class = "nav-link" })
                    </li>
                    <li class="nav-item">
                        @Html.ActionLink("SPORT", nameof(CategoryController.Index), "Category", new { category = "sport", pageNumber = 1, pageSize = 5 }, new { @class = "nav-link" })
                    </li>
                    <li class="nav-item">
                        @Html.ActionLink("POLITICS", nameof(CategoryController.Index), "Category", new { category = "politics", pageNumber = 1, pageSize = 5 }, new { @class = "nav-link" })
                    </li>
                    <li class="nav-item">
                        @Html.ActionLink("HEALTH", nameof(CategoryController.Index), "Category", new { category = "health", pageNumber = 1, pageSize = 5 }, new { @class = "nav-link" })
                    </li>
                    <li class="nav-item">
                        @Html.ActionLink("TECHNOLOGY", nameof(CategoryController.Index), "Category", new { category = "technology", pageNumber = 1, pageSize = 5 }, new { @class = "nav-link" })
                    </li>
                    @if (!this.User.Identity.IsAuthenticated)
                    {
                        <li class="nav-item">
                            @Html.ActionLink("REGISTER", nameof(AccountController.Register), "Account", "", new { @class = "nav-link nav-link-user-control" })
                        </li>
                        <li class="nav-item">
                            @Html.ActionLink("LOGIN", nameof(AccountController.Login), "Account", "", new { @class = "nav-link nav-link-user-control" })
                        </li>
                    }
                    @if (this.User.IsInRole("Admin"))
                    {
                        <li class="nav-item">
                            @Html.ActionLink("ADMIN", "Index", "Admin", null, new { @class = "nav-link" })
                        </li>
                    }
                    @if (this.User.Identity.IsAuthenticated)
                    {
                        using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
                        {
                            @Html.AntiForgeryToken()
                            <li class="nav-item">
                                <a class="nav-link" href="javascript:document.getElementById('logoutForm').submit()">LOGOUT</a>
                            </li>
                        }

                    }

                </ul>
                <form class="form-inline my-2 my-lg-0">
                    <input class="search-box mr-sm-2" id="search-box" type="text" placeholder="Search this website...">
                </form>
            </div>
        </nav>
    </header>

    <main id="content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </main>

   @Scripts.Render("~/bundles/jquery")
        @*@Scripts.Render("~/bundles/bootstrap")*@
    @RenderSection("scripts", required: false)
</body>
</html>
