@model SingleArticleViewModel

<div class="sitemap">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#/home">Home</a></li>
        <li class="breadcrumb-item"><a class="breadcrumb-item-category" href="#/home/?category=@Model.Category&pageNumber=1&pageSize=5">@Model.Category</a></li>
        <li class="breadcrumb-item">@Model.Title</li>
    </ol>
</div>

<div class="detailed-article-container">
    <div class="row no-gutters">
        <div class="col- da-details">
            <div class="da-image-container">

                <div class="da-category">
                    @Model.Category.ToUpper()
                </div>
                <img class="da-image" src="@Model.ImageUrl">
                <div class="da-date">
                    <span>@Model.CreatedOn.ToString("MMM").Substring(0, 3).ToUpper()</span>
                    <span>@Model.CreatedOn.Day</span>
                </div>

            </div>

            <div class="da-tags-container">
                <h3>TAGS</h3>
                @foreach (var tag in Model.Tags)
                {
                    <span>@tag.TagName.ToUpper()</span>
                }
            </div>

            <div class="da-share-icons-container">
                <h3>SHARE THIS</h3>
                <span>
                    <a target="popup" onclick="window.open('http://twitter.com/intent/tweet?status={{article.title}}+https://raw.githack.com/KirilVelichkov/Newsletter-Client/master/dist/index.html#/article/{{article._id}}','popup','width=600,height=600,scrollbars=no,resizable=no'); return false;"
                       href="http://twitter.com/intent/tweet?status={{article.title}}+https://raw.githack.com/KirilVelichkov/Newsletter-Client/master/dist/index.html/article/{{article._id}}">
                        <img src="~/Images/Static/twitter.png">
                    </a>
                </span>

                <span>
                    <a target="popup" onclick="window.open('http://www.facebook.com/share.php?u=https://raw.githack.com/KirilVelichkov/Newsletter-Client/master/dist/index.html#/article/{{article._id}}&title={{article.title}}','popup','width=600,height=600,scrollbars=no,resizable=no'); return false;"
                       href="http://www.facebook.com/share.php?u=https://raw.githack.com/KirilVelichkov/Newsletter-Client/master/dist/index.html/article/{{article._id}}&title={{article.title}}">
                        <img src="~/Images/Static/facebook.png">
                    </a>
                </span>

                <span>
                    <a href="#">
                        <img src="~/Images/Static/share-icon3.png">
                    </a>
                </span>

                <span>
                    <a href="#">
                        <img src="~/Images/Static/share-icon4.png">
                    </a>
                </span>

                <span>
                    <a href="#">
                        <img src="~/Images/Static/share-icon5.png">
                    </a>
                </span>
            </div>
        </div>

        <div class="col- da-content-container">
            <h1>@Model.Title</h1>

            <div class="da-author">
                POSTED BY ADIN IN @Model.Category | @Model.Comments.Count() COMMENTS
            </div>

            <div class="da-content">
                @Model.Content
            </div>

        </div>
    </div>
</div>

<div class="row no-gutters justify-content-end article-comments-container-parent">
    <div class="article-comments-container">
        <div id="add-comment-form">
            @Html.Action(nameof(ArticleController.GetArticleComments), "Article")
        </div>
        @if (this.User.Identity.IsAuthenticated)
        {
            <div class="add-comment-container add-comment-toggler">
                @Html.Action(nameof(ArticleController.AddCommentToArtile), "Article")
            </div>
        }
    </div>

</div>

@section Scripts {
    <script src="/Scripts/single-article.js"></script>
}
